## Inputs and output

In [1]:
fname_dblp = "../inputs/DBLP1.csv"
fname_scholar = "../inputs/Scholar.csv"
fname_result = "../outputs/DBLP_Scholar_perfectMapping_GuofengZhao.csv"

## Import required packages
Difflib - Ratcliff/Obershelp algorithm
distance - Measure Levenshtein/Hamming/Jaccard/Sorensen distance

In [2]:
import pandas as pd
import numpy as np
import re
import difflib
import distance
from datetime import datetime

title_similarity_threshold = 0.90
authors_similarity_threshold = 0.50
venue_similarity_threshold = 0.90
year_similarity_threshold = 0.99

## load DBLP csv files into data frame

In [3]:
dblp = pd.read_csv(fname_dblp, quotechar='"', encoding="ansi", error_bad_lines=False)

## Cleaning DBLP

In [4]:
print ("Total DBLP rows: {}".format(dblp.shape))
print(dblp.count())
#dblp.head(5)
dblp['title'] = dblp['title'].map(lambda x: x if type(x)!=str else x.lower().strip())
dblp['authors'] = dblp['authors'].map(lambda x: x if type(x)!=str else x.lower().strip())
dblp['venue'] = dblp['venue'].map(lambda x: x if type(x)!=str else x.lower().strip())

dblp.head(5)

Total DBLP rows: (2615, 6)
idDBLP     2615
title      2615
authors    2397
venue      2404
year       2615
Row_ID     2615
dtype: int64

,idDBLP,title,authors,venue,year,Row_ID
0,journals/sigmod/EisenbergM02,sql/xml is making good progress,"a eisenberg, j melton",sigmod record,2002,2
1,conf/vldb/AmmannJR95,using formal methods to reason about semantics...,"p ammann, s jajodia, i ray",vldb,1995,3
2,journals/sigmod/Liu02,editor's notes,l liu,sigmod record,2002,4
3,journals/sigmod/Hammer02,report on the acm fourth international worksho...,NaN,NaN,2002,5
4,conf/vldb/FerrandinaMZFM95,schema and database evolution in the o2 object...,"f ferrandina, t meyer, r zicari, g ferran, j m...",vldb,1995,6

## Deduplicate for DBLP

In [5]:
# define a few helper functions
def title_similarity_difflib (row1, row2):
    return difflib.SequenceMatcher(None, row1[1], row2[1]).quick_ratio()

def title_similarity_levenshtein (row1, row2):
    return 1- distance.nlevenshtein(row1[1], row2[1], method=1)

def title_similarity_sorensen (row1, row2):
    return 1- distance.sorensen(row1[1], row2[1])

def title_similarity_jaccard (row1, row2):
    return 1- distance.jaccard(row1[1], row2[1])

def title_similarity(row1, row2, method = "difflib"):
    if method.lower() == "levenshtein":
        return title_similarity_levenshtein (row1, row2)
    if method.lower() == "sorensen":
        return title_similarity_sorensen (row1, row2)
    if method.lower() == "jaccard":
        return title_similarity_jaccard (row1, row2)
    return title_similarity_difflib (row1, row2)
    
def authors_similarity (row1, row2):
    if pd.isnull(row1[2]):
        return 1
    if pd.isnull(row2[2]):
        return 1
    return difflib.SequenceMatcher(None, re.split(r'[;,\s]\s*', row1[2]), re.split(r'[;,\s]\s*', row2[2])).quick_ratio()
def venue_similarity (row1, row2):
    if pd.isnull(row1[3]):
        return 1
    if pd.isnull(row2[3]):
        return 1
    return difflib.SequenceMatcher(None, row1[3], row2[3]).quick_ratio()

def year_similarity (row1, row2):
    if pd.isnull(row1[4]):
        return 1
    if pd.isnull(row2[4]):
        return 1
    return 1 if row1[4] == row2[4] else 0

def row_similar (row1, row2):
    if title_similarity(row1, row2) < title_similarity_threshold:
        return False
    if authors_similarity(row1, row2) < authors_similarity_threshold:
        return False
    if venue_similarity(row1, row2) < venue_similarity_threshold:
        return False
    if year_similarity(row1, row2) < year_similarity_threshold:
        return False
    return True

In [8]:
def deduplicate (data):
    data['duplicate'] = -1
    data_columns = data.axes[1].values
    data_values = data.values
    nrows, ncolumns = data_values.shape
    print("Start calculating similarity - " + str(datetime.now()))
    count = 0
    for i in range(nrows):
        for j in range(i+1, nrows):
            count = count+1
            if count % 1000000 == 0:
                print("{} comparison calculated.".format(count))
            if row_similar(data_values[i, :], data_values[j, :]):
                data_values[i, 6] = data_values[j, 5]
                if pd.isnull(data_values[j, 2]):
                    data_values[j, 2] = data_values[i, 2]
                if pd.isnull(data_values[j, 3]):
                    data_values[j, 3] = data_values[i, 3]
                if pd.isnull(data_values[j, 2]):
                    data_values[j, 4] = data_values[i, 4]
                break
    print("{} comparison calculated.".format(count))
    print("Finished calculating similarity - " + str(datetime.now()))
    tmp = pd.DataFrame(data = data_values, columns = data_columns)
    dupe_rows = tmp[tmp["duplicate"] >= 0]
    print("duplicates: {}".format(dupe_rows.shape))
    unique_rows = tmp[tmp["duplicate"] < 0]
    print("unique rows kept: {}".format(unique_rows.shape))
    return dupe_rows, unique_rows

In [9]:
dblp_dupe, dblp_unique = deduplicate(dblp)

Start calculating similarity - 2018-03-09 01:51:11.065066
1000000 comparison calculated.
2000000 comparison calculated.
3000000 comparison calculated.
3311631 comparison calculated.
Finished calculating similarity - 2018-03-09 01:53:50.796687
duplicates: (65, 7)
unique rows kept: (2550, 7)

In [ ]:
dblp_dupe.head(10)

In [ ]:
dblp[dblp['Row_ID'] == 1357].loc[:, 'authors']

In [ ]:
dblp[dblp['Row_ID'] == 1489].loc[:, 'authors']

## load Scholar csv into data frame

In [10]:
scholar = pd.read_csv(fname_scholar, quotechar='"', encoding="ansi", engine="python")
#scholar.rename(columns={'ROW_ID':'Row_ID'}, inplace = True)

## cleaning Scholar

In [11]:
print ("Total Scholar rows: {}".format(scholar.shape))
print(scholar.count())

scholar['title'] = scholar['title'].map(lambda x: x if type(x)!=str else x.lower().strip())
scholar['authors'] = scholar['authors'].map(lambda x: x if type(x)!=str else x.lower().strip())
scholar['venue'] = scholar['venue'].map(lambda x: x if type(x)!=str else x.lower().strip())
scholar.head(5)

Total Scholar rows: (64260, 6)
idScholar    64260
title        64260
authors      64259
venue        49263
year         29471
ROW_ID       64260
dtype: int64

,idScholar,title,authors,venue,year,ROW_ID
0,aKcZKwvwbQwJ,11578 sorrento valley road,qd inc,"san diego,",NaN,1
1,ixKfiTHoaDoJ,initiation of crazes in polystyrene,"as argon, jg hannoosh","phil. mag,",NaN,2
2,3BxllB4wwcIJ,immunogold labelling is a quantitative method ...,"gh hansen, ll wetterberg, h sjí€œ_strí€œ_m, o ...","the histochemical journal,",1992.0,3
3,d2WWxwKMex4J,the burden of infectious disease among inmates...,"tm hammett, p harmon, w rhodes",see,NaN,4
4,cZCX-AQpjccJ,the role of faculty advising in science and en...,jr cogdell,"new directions for teaching and learning,",1995.0,5

In [ ]:
scholar_dupe, scholar_unique = deduplicate(scholar)

Start calculating similarity - 2018-03-09 01:54:27.712164
1000000 comparison calculated.
2000000 comparison calculated.
3000000 comparison calculated.
4000000 comparison calculated.
5000000 comparison calculated.
6000000 comparison calculated.
7000000 comparison calculated.
8000000 comparison calculated.
9000000 comparison calculated.
10000000 comparison calculated.
11000000 comparison calculated.
12000000 comparison calculated.
13000000 comparison calculated.
14000000 comparison calculated.
15000000 comparison calculated.
16000000 comparison calculated.
17000000 comparison calculated.
18000000 comparison calculated.
19000000 comparison calculated.
20000000 comparison calculated.
21000000 comparison calculated.
22000000 comparison calculated.
23000000 comparison calculated.
24000000 comparison calculated.
25000000 comparison calculated.
26000000 comparison calculated.
27000000 comparison calculated.
28000000 comparison calculated.
29000000 comparison calculated.
30000000 comparison calculated.
31000000 comparison calculated.
32000000 comparison calculated.
33000000 comparison calculated.
34000000 comparison calculated.
35000000 comparison calculated.
36000000 comparison calculated.
37000000 comparison calculated.
38000000 comparison calculated.
39000000 comparison calculated.
40000000 comparison calculated.
41000000 comparison calculated.
42000000 comparison calculated.
43000000 comparison calculated.
44000000 comparison calculated.
45000000 comparison calculated.
46000000 comparison calculated.
47000000 comparison calculated.
48000000 comparison calculated.
49000000 comparison calculated.
50000000 comparison calculated.
51000000 comparison calculated.
52000000 comparison calculated.
53000000 comparison calculated.
54000000 comparison calculated.
55000000 comparison calculated.
56000000 comparison calculated.
57000000 comparison calculated.
58000000 comparison calculated.
59000000 comparison calculated.
60000000 comparison calculated.
61000000 comparison calculated.
62000000 comparison calculated.
63000000 comparison calculated.
64000000 comparison calculated.
65000000 comparison calculated.
66000000 comparison calculated.
67000000 comparison calculated.
68000000 comparison calculated.
69000000 comparison calculated.
70000000 comparison calculated.
71000000 comparison calculated.
72000000 comparison calculated.
73000000 comparison calculated.
74000000 comparison calculated.
75000000 comparison calculated.
76000000 comparison calculated.
77000000 comparison calculated.
78000000 comparison calculated.
79000000 comparison calculated.
80000000 comparison calculated.
81000000 comparison calculated.
82000000 comparison calculated.
83000000 comparison calculated.
84000000 comparison calculated.
85000000 comparison calculated.
86000000 comparison calculated.
87000000 comparison calculated.
88000000 comparison calculated.
89000000 comparison calculated.
90000000 comparison calculated.
91000000 comparison calculated.
92000000 comparison calculated.
93000000 comparison calculated.
94000000 comparison calculated.
95000000 comparison calculated.
96000000 comparison calculated.
97000000 comparison calculated.
98000000 comparison calculated.
99000000 comparison calculated.
100000000 comparison calculated.
101000000 comparison calculated.
102000000 comparison calculated.
103000000 comparison calculated.
104000000 comparison calculated.
105000000 comparison calculated.
106000000 comparison calculated.
107000000 comparison calculated.
108000000 comparison calculated.
109000000 comparison calculated.
110000000 comparison calculated.
111000000 comparison calculated.
112000000 comparison calculated.
113000000 comparison calculated.
114000000 comparison calculated.
115000000 comparison calculated.
116000000 comparison calculated.
117000000 comparison calculated.
118000000 comparison calculated.
119000000 comparison calculated.
120000000 comparison calculated.
121000000 comparison calculated.
122000000 comparison calculated.
123000000 comparison calculated.
124000000 comparison calculated.
125000000 comparison calculated.
126000000 comparison calculated.
127000000 comparison calculated.
128000000 comparison calculated.
129000000 comparison calculated.
130000000 comparison calculated.
131000000 comparison calculated.
132000000 comparison calculated.
133000000 comparison calculated.
134000000 comparison calculated.
135000000 comparison calculated.
136000000 comparison calculated.
137000000 comparison calculated.
138000000 comparison calculated.
139000000 comparison calculated.
140000000 comparison calculated.
141000000 comparison calculated.
142000000 comparison calculated.
143000000 comparison calculated.
144000000 comparison calculated.
145000000 comparison calculated.
146000000 comparison calculated.
147000000 comparison calculated.
148000000 comparison calculated.
149000000 comparison calculated.
150000000 comparison calculated.
151000000 comparison calculated.
152000000 comparison calculated.
153000000 comparison calculated.
154000000 comparison calculated.
155000000 comparison calculated.
156000000 comparison calculated.
157000000 comparison calculated.
158000000 comparison calculated.
159000000 comparison calculated.
160000000 comparison calculated.
161000000 comparison calculated.
162000000 comparison calculated.
163000000 comparison calculated.
164000000 comparison calculated.
165000000 comparison calculated.
166000000 comparison calculated.
167000000 comparison calculated.
168000000 comparison calculated.
169000000 comparison calculated.
170000000 comparison calculated.
171000000 comparison calculated.
172000000 comparison calculated.
173000000 comparison calculated.
174000000 comparison calculated.
175000000 comparison calculated.
176000000 comparison calculated.
177000000 comparison calculated.
178000000 comparison calculated.
179000000 comparison calculated.
180000000 comparison calculated.
181000000 comparison calculated.
182000000 comparison calculated.
183000000 comparison calculated.
184000000 comparison calculated.
185000000 comparison calculated.
186000000 comparison calculated.
187000000 comparison calculated.
188000000 comparison calculated.
189000000 comparison calculated.
190000000 comparison calculated.
191000000 comparison calculated.
192000000 comparison calculated.
193000000 comparison calculated.
194000000 comparison calculated.
195000000 comparison calculated.
196000000 comparison calculated.
197000000 comparison calculated.
198000000 comparison calculated.
199000000 comparison calculated.
200000000 comparison calculated.
201000000 comparison calculated.
202000000 comparison calculated.
203000000 comparison calculated.
204000000 comparison calculated.
205000000 comparison calculated.
206000000 comparison calculated.
207000000 comparison calculated.
208000000 comparison calculated.
209000000 comparison calculated.
210000000 comparison calculated.
211000000 comparison calculated.
212000000 comparison calculated.
213000000 comparison calculated.
214000000 comparison calculated.
215000000 comparison calculated.
216000000 comparison calculated.
217000000 comparison calculated.
218000000 comparison calculated.
219000000 comparison calculated.
220000000 comparison calculated.
221000000 comparison calculated.
222000000 comparison calculated.
223000000 comparison calculated.
224000000 comparison calculated.
225000000 comparison calculated.
226000000 comparison calculated.
227000000 comparison calculated.
228000000 comparison calculated.
229000000 comparison calculated.
230000000 comparison calculated.
231000000 comparison calculated.
232000000 comparison calculated.
233000000 comparison calculated.
234000000 comparison calculated.
235000000 comparison calculated.
236000000 comparison calculated.
237000000 comparison calculated.
238000000 comparison calculated.
239000000 comparison calculated.
240000000 comparison calculated.
241000000 comparison calculated.
242000000 comparison calculated.
243000000 comparison calculated.
244000000 comparison calculated.
245000000 comparison calculated.
246000000 comparison calculated.
247000000 comparison calculated.
248000000 comparison calculated.
249000000 comparison calculated.
250000000 comparison calculated.
251000000 comparison calculated.
252000000 comparison calculated.
253000000 comparison calculated.
254000000 comparison calculated.
255000000 comparison calculated.
256000000 comparison calculated.
257000000 comparison calculated.
258000000 comparison calculated.
259000000 comparison calculated.
260000000 comparison calculated.
261000000 comparison calculated.
262000000 comparison calculated.
263000000 comparison calculated.
264000000 comparison calculated.
265000000 comparison calculated.
266000000 comparison calculated.
267000000 comparison calculated.
268000000 comparison calculated.
269000000 comparison calculated.
270000000 comparison calculated.
271000000 comparison calculated.
272000000 comparison calculated.
273000000 comparison calculated.
274000000 comparison calculated.
275000000 comparison calculated.
276000000 comparison calculated.
277000000 comparison calculated.
278000000 comparison calculated.
279000000 comparison calculated.
280000000 comparison calculated.
281000000 comparison calculated.
282000000 comparison calculated.
283000000 comparison calculated.
284000000 comparison calculated.
285000000 comparison calculated.
286000000 comparison calculated.
287000000 comparison calculated.
288000000 comparison calculated.
289000000 comparison calculated.
290000000 comparison calculated.
291000000 comparison calculated.
292000000 comparison calculated.
293000000 comparison calculated.
294000000 comparison calculated.
295000000 comparison calculated.
296000000 comparison calculated.
297000000 comparison calculated.
298000000 comparison calculated.
299000000 comparison calculated.
300000000 comparison calculated.
301000000 comparison calculated.
302000000 comparison calculated.
303000000 comparison calculated.
304000000 comparison calculated.
305000000 comparison calculated.
306000000 comparison calculated.
307000000 comparison calculated.
308000000 comparison calculated.
309000000 comparison calculated.
310000000 comparison calculated.
311000000 comparison calculated.
312000000 comparison calculated.
313000000 comparison calculated.
314000000 comparison calculated.
315000000 comparison calculated.
316000000 comparison calculated.
317000000 comparison calculated.
318000000 comparison calculated.
319000000 comparison calculated.
320000000 comparison calculated.
321000000 comparison calculated.
322000000 comparison calculated.
323000000 comparison calculated.
324000000 comparison calculated.
325000000 comparison calculated.
326000000 comparison calculated.
327000000 comparison calculated.
328000000 comparison calculated.
329000000 comparison calculated.
330000000 comparison calculated.
331000000 comparison calculated.
332000000 comparison calculated.
333000000 comparison calculated.
334000000 comparison calculated.
335000000 comparison calculated.
336000000 comparison calculated.
337000000 comparison calculated.
338000000 comparison calculated.
339000000 comparison calculated.
340000000 comparison calculated.
341000000 comparison calculated.
342000000 comparison calculated.
343000000 comparison calculated.
344000000 comparison calculated.
345000000 comparison calculated.
346000000 comparison calculated.
347000000 comparison calculated.
348000000 comparison calculated.
349000000 comparison calculated.
350000000 comparison calculated.
351000000 comparison calculated.
352000000 comparison calculated.
353000000 comparison calculated.
354000000 comparison calculated.
355000000 comparison calculated.
356000000 comparison calculated.
357000000 comparison calculated.
358000000 comparison calculated.
359000000 comparison calculated.
360000000 comparison calculated.
361000000 comparison calculated.
362000000 comparison calculated.
363000000 comparison calculated.
364000000 comparison calculated.
365000000 comparison calculated.
366000000 comparison calculated.
367000000 comparison calculated.
368000000 comparison calculated.
369000000 comparison calculated.
370000000 comparison calculated.
371000000 comparison calculated.
372000000 comparison calculated.
373000000 comparison calculated.
374000000 comparison calculated.
375000000 comparison calculated.
376000000 comparison calculated.
377000000 comparison calculated.
378000000 comparison calculated.
379000000 comparison calculated.
380000000 comparison calculated.
381000000 comparison calculated.
382000000 comparison calculated.
383000000 comparison calculated.
384000000 comparison calculated.
385000000 comparison calculated.
386000000 comparison calculated.
387000000 comparison calculated.
388000000 comparison calculated.
389000000 comparison calculated.
390000000 comparison calculated.
391000000 comparison calculated.
392000000 comparison calculated.
393000000 comparison calculated.
394000000 comparison calculated.
395000000 comparison calculated.
396000000 comparison calculated.
397000000 comparison calculated.
398000000 comparison calculated.
399000000 comparison calculated.
400000000 comparison calculated.
401000000 comparison calculated.
402000000 comparison calculated.
403000000 comparison calculated.
404000000 comparison calculated.
405000000 comparison calculated.
406000000 comparison calculated.
407000000 comparison calculated.
408000000 comparison calculated.
409000000 comparison calculated.
410000000 comparison calculated.
411000000 comparison calculated.
412000000 comparison calculated.
413000000 comparison calculated.
414000000 comparison calculated.
415000000 comparison calculated.
416000000 comparison calculated.
417000000 comparison calculated.
418000000 comparison calculated.
419000000 comparison calculated.
420000000 comparison calculated.
421000000 comparison calculated.
422000000 comparison calculated.
423000000 comparison calculated.
424000000 comparison calculated.
425000000 comparison calculated.
426000000 comparison calculated.
427000000 comparison calculated.
428000000 comparison calculated.
429000000 comparison calculated.
430000000 comparison calculated.
431000000 comparison calculated.
432000000 comparison calculated.
433000000 comparison calculated.
434000000 comparison calculated.
435000000 comparison calculated.
436000000 comparison calculated.
437000000 comparison calculated.
438000000 comparison calculated.
439000000 comparison calculated.
440000000 comparison calculated.
441000000 comparison calculated.
442000000 comparison calculated.
443000000 comparison calculated.
444000000 comparison calculated.
445000000 comparison calculated.
446000000 comparison calculated.
447000000 comparison calculated.
448000000 comparison calculated.
449000000 comparison calculated.
450000000 comparison calculated.
451000000 comparison calculated.
452000000 comparison calculated.
453000000 comparison calculated.
454000000 comparison calculated.
455000000 comparison calculated.
456000000 comparison calculated.
457000000 comparison calculated.
458000000 comparison calculated.
459000000 comparison calculated.
460000000 comparison calculated.
461000000 comparison calculated.
462000000 comparison calculated.
463000000 comparison calculated.
464000000 comparison calculated.
465000000 comparison calculated.
466000000 comparison calculated.
467000000 comparison calculated.
468000000 comparison calculated.
469000000 comparison calculated.
470000000 comparison calculated.
471000000 comparison calculated.
472000000 comparison calculated.
473000000 comparison calculated.
474000000 comparison calculated.
475000000 comparison calculated.
476000000 comparison calculated.
477000000 comparison calculated.
478000000 comparison calculated.
479000000 comparison calculated.
480000000 comparison calculated.
481000000 comparison calculated.
482000000 comparison calculated.
483000000 comparison calculated.
484000000 comparison calculated.
485000000 comparison calculated.
486000000 comparison calculated.
487000000 comparison calculated.
488000000 comparison calculated.
489000000 comparison calculated.
490000000 comparison calculated.
491000000 comparison calculated.
492000000 comparison calculated.
493000000 comparison calculated.
494000000 comparison calculated.
495000000 comparison calculated.
496000000 comparison calculated.
497000000 comparison calculated.
498000000 comparison calculated.
499000000 comparison calculated.
500000000 comparison calculated.
501000000 comparison calculated.
502000000 comparison calculated.
503000000 comparison calculated.
504000000 comparison calculated.
505000000 comparison calculated.
506000000 comparison calculated.
507000000 comparison calculated.
508000000 comparison calculated.
509000000 comparison calculated.
510000000 comparison calculated.
511000000 comparison calculated.
512000000 comparison calculated.
513000000 comparison calculated.
514000000 comparison calculated.
515000000 comparison calculated.
516000000 comparison calculated.
517000000 comparison calculated.
518000000 comparison calculated.
519000000 comparison calculated.
520000000 comparison calculated.
521000000 comparison calculated.
522000000 comparison calculated.
523000000 comparison calculated.
524000000 comparison calculated.
525000000 comparison calculated.
526000000 comparison calculated.
527000000 comparison calculated.
528000000 comparison calculated.
529000000 comparison calculated.
530000000 comparison calculated.
531000000 comparison calculated.
532000000 comparison calculated.
533000000 comparison calculated.
534000000 comparison calculated.
535000000 comparison calculated.
536000000 comparison calculated.
537000000 comparison calculated.
538000000 comparison calculated.
539000000 comparison calculated.
540000000 comparison calculated.
541000000 comparison calculated.
542000000 comparison calculated.
543000000 comparison calculated.
544000000 comparison calculated.
545000000 comparison calculated.
546000000 comparison calculated.
547000000 comparison calculated.
548000000 comparison calculated.
549000000 comparison calculated.
550000000 comparison calculated.
551000000 comparison calculated.
552000000 comparison calculated.
553000000 comparison calculated.
554000000 comparison calculated.
555000000 comparison calculated.
556000000 comparison calculated.
557000000 comparison calculated.
558000000 comparison calculated.
559000000 comparison calculated.
560000000 comparison calculated.
561000000 comparison calculated.
562000000 comparison calculated.
563000000 comparison calculated.
564000000 comparison calculated.
565000000 comparison calculated.
566000000 comparison calculated.
567000000 comparison calculated.
568000000 comparison calculated.
569000000 comparison calculated.
570000000 comparison calculated.
571000000 comparison calculated.
572000000 comparison calculated.
573000000 comparison calculated.
574000000 comparison calculated.
575000000 comparison calculated.
576000000 comparison calculated.
577000000 comparison calculated.
578000000 comparison calculated.
579000000 comparison calculated.
580000000 comparison calculated.
581000000 comparison calculated.
582000000 comparison calculated.
583000000 comparison calculated.
584000000 comparison calculated.
585000000 comparison calculated.
586000000 comparison calculated.
587000000 comparison calculated.
588000000 comparison calculated.
589000000 comparison calculated.
590000000 comparison calculated.
591000000 comparison calculated.
592000000 comparison calculated.
593000000 comparison calculated.
594000000 comparison calculated.
595000000 comparison calculated.
596000000 comparison calculated.
597000000 comparison calculated.
598000000 comparison calculated.
599000000 comparison calculated.
600000000 comparison calculated.
601000000 comparison calculated.
602000000 comparison calculated.
603000000 comparison calculated.
604000000 comparison calculated.
605000000 comparison calculated.
606000000 comparison calculated.
607000000 comparison calculated.

## link records from DBLP to Scholar

In [ ]:
scholar_dupe.head(10)

In [ ]:
scholar[scholar['Row_ID'] == 1489].loc[:, 'authors']

In [ ]:
# generate the N*M pair matrix
scholar['tmp'] = 1
#max_row_id = scholar.loc[:, ["Row_ID"]].max().at["Row_ID"]
dblp_scholar = dblp_clean.merge(scholar, on='tmp', suffixes=["","_R"])
print("Total pairs after merge: {}".format(dblp_scholar.shape))
dblp_scholar.drop(labels=['tmp'], axis=1, inplace=True)
#dblp_scholar = dblp_scholar[(dblp_scholar["Row_ID"] < dblp_scholar["Row_ID_R"]) | (dblp_scholar["Row_ID_R"] == max_row_id)]
#print("Total pairs after half-fold deduplicate: {}".format(scholar_pair.shape))
print("Start calculating similarity - " + str(datetime.now()))
dblp_scholar['row_similar'] = dblp_scholar.apply(row_similar, axis = 1)
print("Finished calculating similarity - " + str(datetime.now()))
print("Total pairs after similarity evaluation: {}".format(dblp_scholar.shape))
dblp_scholar.head(5)